@import "wvu-buttons-variables";
@import "wvu-buttons-mixins";

.wvu-button {
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border-radius: $wvu-base-border-radius;
  color: $wvu-white;
  display: inline-block;
  font-size: $wvu-typography-font-size;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:visited {
    color: $wvu-black;
  }

  &:hover {
    background-color: $wvu-button-hover-color;
    color: $wvu-white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .5;
  }
}


.wvu-button--wvu-gold {
  @include wvu-button-color($wvu-gold, $wvu-black);
}

.wvu-button--wvu-blue {
  @include wvu-button-color($wvu-blue, $wvu-white);
}

.wvu-button--wvu-black {
  @include wvu-button-color($wvu-black, $wvu-white);
}

.wvu-button--wvu-white {
  @include wvu-button-color($wvu-white, $wvu-black);
}

.wvu-button--pms-432-c {
  @include wvu-button-color($pms-432-c, $wvu-white);
}

.wvu-button--pms-429-c {
  @include wvu-button-color($pms-429-c, $wvu-black);
}

.wvu-button--pms-warm-gray-11 {
  @include wvu-button-color($pms-warm-gray-11,$wvu-white);
}

.wvu-button--pms-warm-gray-7 {
  @include wvu-button-color($pms-warm-gray-7,$wvu-white);
}

.wvu-button--pms-warm-gray-3 {
  @include wvu-button-color($pms-warm-gray-3,$wvu-black);
}

.wvu-button--pms-286-c {
  @include wvu-button-color($pms-286-c,$wvu-white);
}

.wvu-button--pms-300-c {
  @include wvu-button-color($pms-300-c,$wvu-white);
}

.wvu-button--pms-629-c {
  @include wvu-button-color($pms-629-c,$wvu-white);
}

.wvu-button--pms-7554-c {
  @include wvu-button-color($pms-7554-c,$wvu-white);
}

.wvu-button--pms-7557-c {
  @include wvu-button-color($pms-7557-c,$wvu-white);
}

.wvu-button--pms-144-c {
  @include wvu-button-color($pms-144-c, $wvu-black);
}

.wvu-button--pms-7476-c {
  @include wvu-button-color($pms-7476-c, $wvu-white);
}

.wvu-button--pms-5625-c {
  @include wvu-button-color($pms-5625-c, $wvu-white);

}

.wvu-button--pms-558-c {
  @include wvu-button-color($pms-558-c, $wvu-black);
}

.wvu-button--pms-180-c {
  @include wvu-button-color($pms-180-c, $wvu-white);
}

.wvu-button--pms-166-c {
  @include wvu-button-color($pms-166-c, $wvu-white);
}


.wvu-button--wvu-gold-fill {
  @include wvu-button-color-fill($wvu-gold, $wvu-white, $wvu-blue);
}

.wvu-button--wvu-blue-fill {
  @include wvu-button-color-fill($wvu-blue, $wvu-blue);
}

.wvu-button--wvu-black-fill {
  @include wvu-button-color-fill($wvu-black, $wvu-black);
}

.wvu-button--wvu-white-fill {
  @include wvu-button-color-fill($wvu-white, $wvu-white);
}

.wvu-button--pms-432-c-fill {
  @include wvu-button-color-fill($pms-432-c, $pms-432-c);
}

.wvu-button--pms-429-c-fill {
  @include wvu-button-color-fill($pms-429-c, $pms-429-c);
}

.wvu-button--pms-warm-gray-11-fill {
  @include wvu-button-color-fill($pms-warm-gray-11, $pms-warm-gray-11);
}

.wvu-button--pms-warm-gray-7-fill {
  @include wvu-button-color-fill($pms-warm-gray-7, $pms-warm-gray-7);
}

.wvu-button--pms-warm-gray-3-fill {
  @include wvu-button-color-fill($pms-warm-gray-3, $pms-warm-gray-3);
}

.wvu-button--pms-286-c-fill {
  @include wvu-button-color-fill($pms-286-c,$pms-286-c);
}

.wvu-button--pms-300-c-fill {
  @include wvu-button-color-fill($pms-300-c,$pms-300-c);
}

.wvu-button--pms-629-c-fill {
  @include wvu-button-color-fill($pms-629-c,$pms-629-c);
}

.wvu-button--pms-7554-c-fill {
  @include wvu-button-color-fill($pms-7554-c,$pms-7554-c);
}

.wvu-button--pms-7557-c-fill {
  @include wvu-button-color-fill($pms-7557-c,$pms-7557-c);
}

.wvu-button--pms-144-c-fill {
  @include wvu-button-color-fill($pms-144-c,$pms-144-c);
}

.wvu-button--pms-7476-c-fill {
  @include wvu-button-color-fill($pms-7476-c,$pms-7476-c);
}

.wvu-button--pms-5625-c-fill {
  @include wvu-button-color-fill($pms-5625-c,$pms-5625-c);
}

.wvu-button--pms-558-c-fill {
  @include wvu-button-color-fill($pms-558-c,$pms-558-c);
}

.wvu-button--pms-180-c-fill {
  @include wvu-button-color-fill($pms-180-c,$pms-180-c);
}

.wvu-button--pms-166-c-fill {
  @include wvu-button-color-fill($pms-166-c,$pms-166-c);
}

.wvu-button--pms-115-c-fill {
  @include wvu-button-color-fill($pms-115-c,$pms-115-c, $wvu-black);
}
